body {
    display: grid;
    align-content: center;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 50px 100px 300px 300px 300px 200px;
    grid-template-areas: 
    "nav nav nav nav"
    "header header header header"
    "aside section section section"
    "aside section section section"
    "aside section section section"
    "footer footer footer footer"
    ;
    width: 1400px;
    height: 1270px;
    margin: auto;
    background-color: white;
}

nav{
    grid-area: nav;
    background-color: rgb(13, 75, 75);
}

header{
    grid-area: header;
    background-color: rgb(21, 161, 80);
}

aside{
    grid-area: aside;
    background-color: rgb(87, 74, 160);
}

section{
    grid-area: section;
    background-color: rgb(40, 165, 155);
}

footer{
    grid-area: footer;
    background-color: rgb(126, 33, 64);
}